/* デフォルトはダーク */
:root {
  --bg: #0d1117;
  --text: #f0f6fc;
  --link: #58a6ff;
}

html, body {
  background-color: var(--bg);
  color: var(--text);
}

/*
h1, h2, h3, h4 {
  color: #f0f6fc;
}
*/

a {
  color: var(--link);
}

a:visited {
  color: #8b949e;
}

/* OSがライト指定のときだけ切り替え */
@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --text: #24292f;
    --link: #0969da;
  }
}
